.buildpath
.idea/.name
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/ltw.iml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/scopes/scope_settings.xml
.idea/sqldialects.xml
.idea/vcs.xml
.idea/workspace.xml
.project
.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
ltw.sublime-workspace
ltw.sublime-project
