
body {
	font-family: Helvetica, Arial, sans-serif;
	background-color:#F8F8F8;
	width: 1000px;
	margin: auto;
}

body p {
	font-size: 14px;
	/* text-align: center; */
}

#loadingCustomer, #loadingProduct, #loadingUser {
	font-size: 14px;
	margin-top: 40px;
	text-align: center;
}

/****************************************************************************************************************************************/
/*																		 HEADER 														*/
/****************************************************************************************************************************************/
#header {

	background-color: #3E3D37;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	border: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

}

#header h1 {
	color:white;
	text-align: center;
	margin-bottom: 0px;

}

#header h2 {
	color:white;
	text-align: center;
	padding-top: 0px;
}

/****************************************************************************************************************************************/
/*																		 MENU	 														*/
/****************************************************************************************************************************************/
#menu {

	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #E5E5E5;
}

#menu ul {
	display: inline-block;
	padding-left: 0;
}
#menu ul li {
	display: inline-block;
}

#menuList li:after {
	content: "|";
	color: #218B9E;
}

#menu ul li:last-child:after {

	content: "";
}


#menu ul li a {
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #E5E5E5;
	border: 5px solid #E5E5E5;
	color: #6A6A6A;
}

#menu ul li a:hover {

	color: #218B9E;
	background-color: #C4C4C4;
}

/** Login form **/
.login {
	text-align: right;
	display: inline-block;
	margin-left: 20%
}

#loginMenu {
	display: inline-block;

	margin:0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	padding-left: 0;
}

.loginHelp {
	font-size: 12px;
	min-height: 1.5em;
    display: table-cell;
    vertical-align: middle;
}

.login li {
	margin-right: 2px;
}

.login a {
	text-decoration: none;
	padding-right: 2px;
	padding-left: 2px;
	border-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #E5E5E5;
	border: 5px solid #E5E5E5;
	color: #6A6A6A;
}

.login a:hover {	
	color: #218B9E;
	background-color: #C4C4C4;
}

.login input[type="submit"] {
	width: 55px;
    cursor: default;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);

    background-color:#ededed;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    border:1px solid #dcdcdc;
    display:inline-block;
    color: #218B9E;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

/****************************************************************************************************************************************/
/*															 content:            														*/
/****************************************************************************************************************************************/
#content {

	background-color: white;
	padding: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#content label {

	color: #218B9E;
	border-radius: 10px;
}

#content option,select {
	color: #676767;
	background-color: #FFF;
	width: 140px;
}

#content input {
	background-color: #E5E5E5;
	color: #676767;
}

#content input:hover {
	background-color: #C4C4C4;
	color: #218B9E;
}

#results table {
	font-size: 15px;
	width: 100%;
	margin: auto;
	background-color: #F8F8F8;
	border-radius: 5px;
	border-collapse:collapse;
}

#results table thead {

	background-color: #E5E5E5;
    border-bottom: 2px solid #9F9F9F;
	border-radius: 10px;
	padding: 5px;
    color: #218B9E;
}

#results table tr {

	text-align: center;
}

#results table tr:nth-child(even) {
    background-color: #E5E5E5;
}

#results table td {
	border-bottom: 1px solid #9F9F9F
}

#results table tr a {
	text-decoration: none;
	color: #676767;
	border-radius: 3px;
}

#results table tbody tr:hover {
    cursor: pointer;
	background-color: #C4C4C4;
	color: #218B9E;
	padding: 3px;
}

#results table tr:hover a {
	cursor: pointer;
	background-color: #C4C4C4;
	color: #218B9E;
}

/****************************************************************************************************************************************/
/*												costumer_detailed, product_detailed, user_detailed and forms	     					*/
/****************************************************************************************************************************************/

#customer, #product, #user {
	border: 10px solid #fff;
	box-shadow: 0 0 1px #888888;
	padding: 10px;
	margin: 0px;
}

#customer .customerTitle, #product .productTitle, #user .userTitle {
	text-align: center;
	font-size:  15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #C4C4C4;
	border-top: 1px solid #C4C4C4;
	padding-top: 10px;
}

.customerInfo, .productInfo, .userInfo {
	background-color: white;
	padding-top: 15px;
	overflow: hidden;
	list-style: none;
	text-align: right;
	line-height: 2em;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 65%;
	width: 30%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #C4C4C4;
	border-top: 1px solid #C4C4C4;
	border-radius: 10px;
}

.customerInfo li, .productInfo li, .userInfo li {
	font-weight: bold;
	text-align: left;
	clear: both;
}

.customerInfo span, .productInfo span, .userInfo span {
	font-weight: normal;
	float: right;
}

.customerDetail, .productDetail, .userDetail {
	background-color: #FFF;
	list-style: none;
	text-align: left;
	font-size:  16px;
	border-bottom: 1px solid #C4C4C4;
	border-top: 1px solid #C4C4C4;
	padding-top: 25px;
}

.customerDetail li, .productDetail li, .userDetail li {
	font-weight: bold;
	padding-bottom: 25px;
}

.customerDetail li p, .productDetail li p, .userDetail li p{
	font-size: 14px;
	font-weight: normal;
}

.largerTextBox {
	width: 50%;
}

#billingAddress input, #billingAddress select{
	margin-bottom: 15px;
}

/****************************************************************************************************************************************/
/*												paginator buttons and general buttons             										*/
/****************************************************************************************************************************************/


div.pager {
    text-align: center;
    margin: 1em 0;
    /* avoids highlighting on press */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="button"], input[type="submit"], div.pager span {
	width: 150px;
    cursor: default;
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);

    background-color:#ededed;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    border:1px solid #dcdcdc;
    display:inline-block;
    color: #218B9E;
    font-size:13px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

div.pager span {
    margin-right: 0.8em;

    color: #218B9E;

    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;

    text-shadow:0px 1px 0px #ffffff;
}

.page-change-button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    cursor: pointer;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);

    background-color:#dfdfdf;
}

/****************************************************************************************************************************************/
/*												      Search menu                                   									*/
/****************************************************************************************************************************************/


#searchMenu {

    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #F3F3F3;
}

#searchMenu ul:first-child {

    padding-left: 0px;
}

#searchMenu ul {

    padding-left: 7px;
}

#searchMenu ul li {
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    color: #218B9E;
}

#submitButton {
    padding-left: 15px;
    padding-bottom: 10px;
}

#submitButton input {
    padding-left: 4px;
}

/****************************************************************************************************************************************/
/*												      Import and Export                                									*/
/****************************************************************************************************************************************/

#importSaft, #exportSaft, #importDB {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #C4C4C4;
    padding-left: 10px;
}

#importSaft #fileButton{
    padding-left: 10px;
    padding-right: 15px;
}

#importDB #otherDatabaseURL{
    width: 35%;
}

/****************************************************************************************************************************************/
/*															 Register            														*/
/****************************************************************************************************************************************/
#registerUser form {
    width: 80%;
    margin: 0 auto;
    margin-left: 0;
}

#registerUser label, #registerUser input {
    display: inline-block;
    margin-bottom: 10px;
}

#registerUser label {
    width: 30%;
    text-align: left;
}

label + input {
    width: 30%;
    margin: 0 5% 0 4%;
}

input + input {
    float: right;
}

#registerUser #commit {
	margin-left: 85px;
	margin-top: 25px;
}

#userExists, #emailExists {
	color: red;
}